! special
*.foreground:   #c6d3b6
*.background:   #0b0d09
*.cursorColor:  #c6d3b6

! black
*.color0:       #141611
*.color8:       #85966f

! red
*.color1:       #1d1f1a
*.color9:       #c69e7a

! green
*.color2:       #2d3129
*.color10:      #dc5091

! yellow
*.color3:       #44493e
*.color11:      #cc8fa6

! blue
*.color4:       #606858
*.color12:      #5c95b0

! magenta
*.color5:       #838c78
*.color13:      #bc936d

! cyan
*.color6:       #abb79d
*.color14:      #6c968b

! white
*.color7:       #d8e8c7
*.color15:      #ae865f
xterm*font: *-clean-*-*-*-*-12-*
! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Use extended color scheme
rofi.color-enabled:                  true
! Color scheme for normal row
rofi.color-normal:                   argb:a02f1e2e, #b4b4b4, argb:a02f1e2e, argb:54815ba4, #ffffff
! Color scheme for urgent row
rofi.color-urgent:                   argb:272f1e2e, #ef6155, argb:2f2f1e2e, argb:54815ba4, #ef6155
! Color scheme for active row
rofi.color-active:                   argb:272f1e2e, #815ba4, argb:2f2f1e2e, argb:54815ba4, #815ba4
! Color scheme window
rofi.color-window:                   #2f1e2e, #9b59f6, #9b59f6
! Separator style (none, dash, solid)
rofi.separator-style:                solid
!line number
rofi.lines: 10
rofi.borderwidth:2
