! special
*.foreground:   #a8a23b
*.background:   #272826
*.cursorColor:  #7b9475

! black
*.color0:       #272826
*.color8:       #373b41

! red
*.color1:       #6a989e
*.color9:       #cc6666

! green
*.color2:       #7b9475
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #6f7174
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6



!xterm*font: xft:Hack:size=12
xterm*metaSendsEscape: true
xterm.vt100.faceName: Hack:style=Regular
xterm*renderFont:True
xterm*faceName: Hack
xterm*faceSize: 11
xterm*selectToClipdboard: True
xterm*scrollBar:                  false
xterm*saveLines:                  5000
!!------------------------------------------------------------------------------
!! ROFI Color theme
!! ------------------------------------------------------------------------------
! Use extended color scheme
rofi.location:          0
!                       'background', 'border'
!rofi.color-window:      argb:cc2E3440, argb:cc88C0D0
rofi.color-window:      argb:FF1F1F1F, argb:FFB71C1C
! State:                'bg',          'fg',   'bgalt',       'hlbg',        'hlfg'
rofi.color-normal:      argb:005E81AC, #ffffff, argb:0088C0D0, argb:FFB71C1C, argb:ffffffff

rofi.color-active:      argb:0088C0D0, #ffffff, argb:0088C0D0, argb:ffB71C1C, argb:ffffffff
rofi.color-urgent:      argb:0088C0D0, #ffffff, argb:0088C0D0, argb:ffB71C1C, argb:ffffffff
rofi.font:  Noto Sans 11
! Separator style (none, dash, solid)
rofi.separator-style:   solid
rofi.show-icons:        true
rofi.color-enabled:     true
rofi.combi-modi:		window,run,ssh,drun
rofi.modi:combi
rofi.hide-scrollbar:    true

